<section id="todos" class=<%=list_class(@this_list)%>>
  <header>
    <h2> <%=@this_list[:name]%> </h2>
      <ul>
        <li>
          <form action="/lists/<%= @num %>/complete_all" method="post">
            <button class="check" type="submit">Complete All</button>
          </form>
          <a class="edit" href="/lists/<%=@num%>/edit">Edit List</a>
        </li>
      </ul>
  </header>

  <ul>
    <% sort_todos(@this_list[:todos]) do |todo, index| %>
      <% if todo[:completed].to_s == 'true' %>
        <li class = "complete">
      <% else %>
        <li>
      <% end %>
      <% if todo[:completed] == "true" %>
        <% other_status = "false" %>
      <% else %>
        <% other_status = "true" %>
      <% end %>
          <form action="/lists/<%= @num %>/todo/<%= index %>" method="post" class="check">
            <input type="hidden"  type= "text" name="completed" value= "<%= other_status %>" >
            <button type="submit">Complete</button>
          </form>
          <h3><%= todo[:name] %></h3>
          <form action= "/lists/<%=@num%>/delete/<%=index%>" method="post" class="delete">
            <button type="submit">Delete</button> 
          </form>   
        </li>
    <% end %>
  </ul>
</section>

<% content_for :header_links do %>
  <a class="list" href="/">All Lists</a>
<% end %>

<form action="/lists/<%= @num %>/todos" method="post">
  <dl>
    <dt>
      <label for="todo">Enter a new todo item:</label>
    </dt>
    <dd>
      <input name="todo" id="todo" placeholder="Something to do" type="text" value="<%= params[:todo]%>">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Add">
  </fieldset>
</form>